extends base

block vars
    - let title = "dashboard"

block body
    h3 Dashboard
    p Welcome to your dashboard. 
    form(action="/login", method="delete")
      input(type="submit" title="logout")