extends base

block vars
    - let title = "register"

block body
  h3 Create an Account
    form(action="/register", method="post")
      span First Name:
      input(type="text", name="firstname", required="true")
      br

      span Last Name:
      input(type="text", name="lastname", required="true")
      br

      span Email:
      input(type="email", name="email", required="true")
      br

      span Password:
      input(type="password", name="password", required="true")
      br

      input(type="submit")

  p Back to #[a(href="/") home]    
